<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <!-- Link to the external stylesheet -->
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="header">
        <a href="/">Ervian Harith</a>
        <div class="nav-container">
            <div class="nav-links">
                <a href="/about">About me</a>
                <a href="/portfolio">Portfolio</a>
                <a href="/contact">Contact Me</a>
            </div>
        </div>
    </div>

    <div class="contact-form">
    <form action="/contact" method="POST">
        <div class="form">
          <label for="email" class="form-label"></label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          <label for ="message" class="form-label"></label>
          <textarea class="form-control" id="message" rows="3" name="message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</body>
</html>